<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p><%= notice %></p>
    <h1>tweet一覧</h1>
    
      <%= link_to "do tweet", new_exam_path, class: 'btn btn-default' %>
      
    <% @exams.each do |exam| %>
    <div class="row">
      <p><%= exam.content %></p>
      <%= link_to "edit", edit_exam_path(exam.id), class: 'btn btn-default btn-sm btn-success' %>
      <%= link_to "delete", exam_path(exam.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>
    </div>
    <% end %>
  </div>
</div>